*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: Poppins,sans-serif;

}
body{
    position: relative;
}
html{
    scroll-behavior: smooth;
    font-size: 70%;
 }
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 0 10%;
    position: fixed;
    top: 0 ;
    left: 0;
    right: 0;
    background-color: aqua;
    box-shadow: 4px 7px 15px black;
}
.logo {
  color: rgb(33, 241, 65);
  font-weight: bold;
  font-size: 25px;
}

.logo span {
  color: #051f47;
}
.color{
    color: blue;
    font-size: 50px;
}
.paragr{
    color: red;
    font-size: 50px;
   
} 
p{
    width: 500px;
}
#Accueil{
    margin: 10% ;
    display: flex;
    align-items: center;
    justify-content: space-between;  
}
.menu{
    display: flex;
}
.menu li{
    margin: 50px 10px;
    list-style: none;
}

.menu li a{
   font-size: 17px;
   text-decoration: 0;
   color: #999;
   position: relative;
}
.menu li a::before{
    position: absolute;
    top: -5px;
    left: 0;
    content: " ";
    width: 0;
    height: 2px;
    border-radius: 6px;
    background-color: #27ae60;
    transition: 1s;
}
.menu li a:hover::before{
    width: 100%;
}
.menu li a::after{
    position: absolute;
    bottom: -5px;
    right: 0;
    content: " ";
    width: 0;
    height: 2px;
    border-radius: 5px;
    background-color:blueviolet;
    transition: 1s;
}
.menu li a:hover:after{
    width: 100%;
}
button{
    width: 120px;
    height: 40px;
    margin-top: 5%;
    font-size: 15px;
    color: #f5f7f5;
    background: rgb(6, 51, 2);
    box-shadow: 7px 10px 8px black;
    text-transform: uppercase;
    cursor: pointer;
}
#stock{
    margin: 10%;
    display: block;
    align-items: center;
    justify-content: space-between;
}
#stock .titre h4{
    font-size: 20px;
    color: green;
    text-align: center;
}
#stock .titre h1{
    text-transform: uppercase;
    font-size: 30px;
    color: #000;
    text-align: center;
} 
.images {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: space-around;
  }
  
  .images .produit {
    height: 280px;
    width: 30%;
    background-color: #fff;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 6px;
    margin-bottom: 35px;
    transition: 0.5s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .images .produit img {
    width: 130px;
    height: 120px;
    margin-bottom: 15px;
  }
  
  .images .produit p {
    text-align: center;
    font-size: 16px;
  }
  
  .images .produit a {
    margin-top: 10px;
    font-size: 16px;
    text-decoration: 0;
    background-color: #27ae60;
    padding: 5px 60px;
    columns: #fff;
    border-radius: 6px;
  }
  